<ion-header>
  <ion-toolbar>
    <ion-title>
      Sign In
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <button type="submit" ion-button full>Sign In</button>
  </form>
</ion-content>

