<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table>
    <tr>
      <th>ΟΝΟΜΑ</th>
      <th>ΕΠΙΘΕΤΟ</th>
      <th>ΗΛΙΚΙΑ</th>
      <th>ΡΟΛΟΣ</th>
      <th>ΤΗΛΕΦΩΝΟ</th>
    </tr>
    <tr *ngFor="let element of userList; index as i;" class="horizontal-scroll">
      <td>{{element.Name}}</td>
      <td>{{element.Surname}}</td>
      <td>{{element.Age}}</td>
      <td>{{element.Role}}</td>
      <td>{{element.Phone_Number}}</td>
      <span class="delete-button">X</span>
    </tr>
  </table>

  <ion-list>
    <ion-label>Αιτήματα</ion-label><br />
    <div *ngFor="let element of requestList; index as i;">
      <span class ="col-div-space">{{element.request_name}}</span>
    </div>
  </ion-list>
  <ion-input type="text" id="request">Νέο αίτημα</ion-input>
  <ion-button (click)="createRequestItem()">Δημιουργία Αιτήματος</ion-button>
  <ion-button (click)="logout()">
    <ion-icon slot="icon-only" name="log-out"></ion-icon>
  </ion-button>
</ion-content>
