<ion-header [style.visibility]="content_visibility">
  <ion-toolbar color="primary">
    <ion-title>Aιτήματα</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment [value]="0" swipeGesture="true" (ionChange)="requestsSegmentChanged($event)" [style.visibility]="content_visibility">
  <ion-segment-button value="0">
    <ion-label>Διαθέσιμα</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-label>Αποδεκτά</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>DONE</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content [style.visibility]="content_visibility">
  <div [ngSwitch]="whichSegment" style="height: 100%">
    <div *ngSwitchCase="0" style="height: 100%">
      <div [ngClass]="{'rejected': jsonData.rejectedVol?.includes(volunteerID), 'default': !jsonData.rejectedVol?.includes(volunteerID)}" *ngFor="let jsonData of jsonDataList" class="request-item">
        <p>Τοποθεσία: {{ jsonData.locationName }}</p>
        <p>Αίτημα: {{ jsonData.nameReq }}</p>
        <p>Μέρα: {{ jsonData.day }}</p>
        <p>Ώρα: {{ jsonData.time }}</p>
        {{ jsonData.in_needName }} {{ jsonData.in_needSurname }} ({{ jsonData.in_needAge }})
        <div>
        <ion-button (click)="acceptRequest(jsonData.id,jsonData.uid)" color="success" fill="outline">Αποδοχή</ion-button>
        <ion-button [disabled]="jsonData.rejectedVol?.includes(volunteerID)" (click)="rejectRequest(jsonData.id,jsonData.uid)" color="danger" fill="outline">Απόρριψη</ion-button>
        </div>
        <div *ngIf="jsonData.rejectedVol?.includes(volunteerID)">
          You have rejected this request.
        </div>
      </div>
    </div>
    <div *ngSwitchCase="1" style="height: 100%">
      <app-requests-list [flag]="1" (newItemEvent)="hideBackground($event)" [reqStatus]="'matched'"></app-requests-list>
    </div>
    <div *ngSwitchCase="2" style="height: 100%">
      <app-requests-list [flag]="1" (newItemEvent)="hideBackground($event)" [reqStatus]="'done'"></app-requests-list>
    </div>
  </div>
</ion-content>

<ion-footer [style.visibility]="content_visibility">
  <ion-toolbar>
    <ion-button expand="full" color="primary" (click)="setVolunteerDetails()">Υποβολή Διαθεσιμότητας</ion-button>
  </ion-toolbar>
</ion-footer>

