
<!--<ul>-->
<!--  <li *ngFor="let request of requests">-->
<!--    <span style="margin-right: 7px ; font-size: large" >{{request.nameReq }}</span>-->
<!--    <div>-->
<!--    <span style="margin-right: 7px">{{request.data.day }}</span>-->
<!--    <span style="margin-right: 7px">{{request.data.time }}</span>-->
<!--    </div>-->
<!--    <div *ngFor="let vol of request.matchVols">-->
<!--      <div *ngIf="reqStatus === 'pending'">-->
<!--        <button-->
<!--          (click)="toggleVolunteerSelection(request,vol)"-->
<!--          [style.background-color]="isVolunteerSelected(request,vol) ? 'green' : 'red'">-->
<!--          {{vol.data.name}} {{vol.data.surname}} ({{vol.data.age}})-->
<!--        </button>-->
<!--      </div>-->
<!--      <div *ngIf="reqStatus === 'matched'">-->
<!--        <div>{{vol.data.name}} {{vol.data.surname}} ({{vol.data.age}})</div>-->

<!--        <ngx-qrcode *ngIf="reqStatus === 'matched'&& isQRbuttonclicked === request.id    "-->
<!--          [elementType]= "elementType"-->
<!--          [value]=" request.id "-->
<!--          cssClass="aclass">-->
<!--        </ngx-qrcode>-->
<!--      <ion-icon (click)="showQR(request.id)" name="qr-code-outline"></ion-icon>-->
<!--      <ion-icon (click)="openCamera()" name="camera-outline"></ion-icon>-->
<!--    </div>-->
<!--    </div>-->
<!--  </li>-->
<!--  <div [style.visibility]="close_camera_button">-->
<!--    <ion-icon name="close-circle-outline"></ion-icon>-->
<!--  </div>-->
<!--</ul>-->
<!--<button *ngIf="reqStatus === 'pending'" (click)="submitSelection()">Submit Selection</button>-->
<ul class="request-list">
  <ng-container *ngFor="let request of requests; let last = last">
    <li class="request-item">
      <div class="request-content">
        <span class="request-name"> Αίτημα: {{ request.nameReq }}</span>
        <div class="request-details">
          <p>Μέρα: {{ request.data.day }}</p>
        </div>
        <div class="request-details">
          <p>Ώρα:{{ request.data.time }}</p>
        </div>

        <div *ngFor="let vol of request.matchVols">
          <div *ngIf="reqStatus === 'pending'" class="volunteer-selection">
            <button (click)="toggleVolunteerSelection(request, vol)" [ngStyle]="{ 'background-color': isVolunteerSelected(request, vol) ? 'green' : 'red' }">
              {{ vol.data.name }} {{ vol.data.surname }} ({{ vol.data.age }})
            </button>
          </div>
          <div *ngIf="reqStatus === 'matched'" class="matched-volunteer">
            <div>{{ vol.data.name }} {{ vol.data.surname }} ({{ vol.data.age }})</div>
            <ngx-qrcode *ngIf="isQRbuttonclicked === request.id" [elementType]="elementType" [value]="request.id" cssClass="qrcode"></ngx-qrcode>
            <ion-icon (click)="showQR(request.id)" name="qr-code-outline" class="qr-icon"></ion-icon>
            <ion-icon (click)="openCamera(request.id)" name="camera-outline" class="camera-icon"></ion-icon>
          </div>
        </div>
      </div>
    </li>
    <hr *ngIf="!last">
  </ng-container>
</ul>


<button *ngIf="reqStatus === 'pending'" (click)="submitSelection()" class="submit-button">
  <span>Submit Selection</span>
</button>

<div [style.visibility]="close_camera_button" class="close-camera-button">
  <ion-icon name="close-circle-outline"></ion-icon>
</div>



