<!--<header>-->
<!--  <div class="toolbar">-->
<!--    <h1>{{ title }}</h1>-->
<!--  </div>-->
<!--</header>-->

<!--<main [class.success-modal]="type === 'success'" [class.error-modal]="type === 'error'">-->
<!--  <span class="icon" [style.font-size]="iconSize" [style.color]="iconColor">-->
<!--    <i [class]="iconClass"></i>-->
<!--  </span>-->
<!--  <p>{{ message }}</p>-->
<!--</main>-->
<header>
  <div class="toolbar">
    <h1>{{ title }}</h1>
  </div>
</header>

<main [class.success-modal]="type === 'success'" [class.error-modal]="type === 'error'">
  <span class="icon" [style.font-size]="iconSize" [style.color]="type === 'success' ? 'green' : 'red'">
    <i [class]="type === 'success' ? 'fas fa-check-circle' : 'fas fa-times-circle'"></i>
  </span>
  <p>{{ message }}</p>
</main>
